@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --nav-height: 10vh;
    height: fit-content;
    background: radial-gradient(circle at center, #202053 0%, #04040e 40%);
    @apply text-white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
}
main, .ui_page, #swagger{
    min-height: calc(100vh - var(--nav-height));
    max-width: 79.5vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

/* HEADER */
header{
    position: absolute;
    height: var(--nav-height);
    width: 100%;
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,0.9) 50%, rgba(252,176,69,1) 100%);
    top: 0;
    left:0;
    z-index: 1000;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}
header:not(.showHeader){
    overflow: hidden;
}
header.showHeader{
    overflow: visible;
}
header.showHeader #title_sloggan{
    opacity: 100%;
    transition: opacity 0.1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.45s;
}
header.showHeader img, header.showHeader div:not(#title_sloggan){
    opacity: 100%;
    transition: opacity 0.1s cubic-bezier(0.25, 0.1, 0.25, 1) 0.25s;
}
header:not(.showHeader) div, header:not(.showHeader) img{
    opacity:0;
    transition: opacity 0.7s ease;
}
header #logo{
    margin-top: -12px;
}
#title_sloggan{
    margin-left: 5px;
    margin-top: -5px;
}
#title_sloggan h1, #title_sloggan h2{
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #F3ECE5;
}
#title_sloggan h1{
    font-size: 6.5vh;
}
#title_sloggan h2{
    font-size: 2.5vh;
    margin-top: -28px;
    margin-left: 30px;
}

/* FOOTER */
footer{
    width: 100%;
    height: 10vh;
    background-color: rgba(57, 36, 1, 0.6);
}

/* MOVIE FILTERS PANEL */
.collapsible-element{

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(9.6px);
    -webkit-backdrop-filter: blur(9.6px);
    opacity:100%;
}
.collapsible-element a:hover{
    background: rgba(255,255,255,0.2);
}
#collapsible-vertical-panel{
    position: fixed;
    height: 100%;
    top: 0;
    left:0;
    z-index: 500;
    overflow-y: auto;
    transition: width 0.5s ease, opacity 0.2s ease;
}
#movie-filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    max-height: 80vh;
    padding-top:20px;
    @apply text-sm;
}
.genre_filter{
    @apply text-white;
    @apply border border-secondary-300;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 4px;
    padding: 2px 8px;
}
.genre_filter:hover, .genre_filter.selected{
    @apply bg-secondary-300;
    @apply border border-secondary-300;
    @apply text-black;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
    background-clip: content-box;
}
/*le fond de la scrollbar*/
::-webkit-scrollbar-track {
    /*background-color: rgba(0,0,0,0.1);*/
    @apply bg-white bg-opacity-5;
    border: 10px solid transparent;
}
/*la barre*/
::-webkit-scrollbar-thumb {
    @apply bg-accent-700;
    background-clip: content-box;
    border-radius: 50px;
    @apply cursor-pointer;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-accent-500;
}

/* MOVIES GRID */
#movies-horizontal-showcase{
    max-width: 100vw;
    overflow-y: auto;
}
#vertical-list-showcase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.category_title{
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F3ECE5;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}

/* MEDIA CARDS */
.media-card{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    margin-top: 5px;
    /*box-shadow: 0 0 12px rgba(74, 0, 255, 0.5);*/
    box-shadow:
                          0 0 12px rgba(0, 0, 0, 1),
                          0 0 6px rgba(0, 0, 0, 0.3),
    0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    /*border: 2px solid white;*/
}
.media-card-bg{
    background-size: cover;
    background-position: center;
    max-width: 220px;
    min-width: 220px;
    max-height: 330px;
    min-height: 330px;
    cursor: pointer;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.media-card-details{
    @apply text-white;
    @apply bg-black bg-opacity-70;
    padding: 1.6rem 1rem 1rem 1rem;
    max-width: 220px;
    min-width: 220px;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/* MOVIE PAGE */
#main_movie_page{
    position: relative;
    max-width: 100vw;
    max-height: fit-content;
}
.main_title{
    font-family: "Amaranth", sans-serif;
    font-weight: 500;
    font-style: normal;
    /*@apply text-white;*/
    /*@apply text-accent-500;*/
    @apply text-secondary-300;
    letter-spacing: -0.3vw;
    margin-bottom: 15px;
    /*text-shadow: 3px 3px 6px rgba(0, 99, 119, 1);*/
    /*text-shadow: 3px 3px 6px rgba(74, 0, 255, 1);*/
    /*text-shadow: 3px 3px 6px rgba(246, 173, 85, 1);*/
    /*text-shadow: 3px 3px 6px rgba(197, 48, 48, 1);*/
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
    /*text-shadow: 3px 3px 6px rgba(255, 255, 255, 1);*/
}
.cinematic{
    backdrop-filter: brightness(0.9) blur(0.5px);
    -webkit-backdrop-filter: brightness(0.9) blur(0.5px);
}
.background_image_repeat{
    background-repeat: repeat;
    background-position:top;
    background-size: cover;
    @apply xl:bg-contain;
    height: 115vh;
    margin-top: -4vh;
    z-index: -1;
    width: 100%;
    animation: gradient-opacity-0-03 1400ms, glow 5s ease-in-out infinite;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%,  transparent 85%);
    filter: blur(50px) ;
    transform: scaleX(-1);
}
.absolute0{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
}
.background_image{
    background-repeat: no-repeat;
    background-position:top;
    margin-top: 5vh;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-size: cover;
    @apply 2xl:bg-contain;
    animation: gradient-opacity-0-03 1400ms;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 75%,  transparent 90%);
}
.dropShadow{
    filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
.movie_details{
    z-index: 1;
    @apply pt-[8vh] 2xl:pt-[5vh];
    @apply mt-[-9vh];
    display: flex;
    flex-direction: column;
    max-width: 100vw;

}

.bg-black-window{
    @apply bg-black bg-opacity-60;
    @apply p-4;
    @apply border-t-[15px] border-black border-opacity-40;
}
.movie-review, .movie-note{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1)
}
.genre{
    font-weight: bold;
    @apply text-secondary-300;
    @apply border border-secondary-300;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.5);
}
.media-badge{
    @apply font-medium flex flex-row items-center bg-secondary-300 p-1 pl-2 pr-2 rounded-xl;
    color: rgba(0, 0, 0, 0.85);
}
.about_movie{
    z-index:1;
}

/* LOGIN-SIGNUP FORMS */
#auth-form{
    @apply bg-black bg-opacity-70 p-10 mt-[10vh];
    @apply border-l-8 border-r-8 border-transparent;
    border-image: repeating-linear-gradient(260deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5) 5px, rgba(255, 255, 255, 0.7) 5px, rgba(255, 255, 255, 0.7) 10px) 1;
    position: relative;
    @apply flex flex-col justify-center items-center;
}
#auth-form form{
    @apply flex flex-col justify-items-center items-center;
}
#auth-form h1{
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    @apply text-white text-[40px];
    position: absolute;
    top:-37px;
    left:25px;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 100px #212942 inset; /* Ombre intérieure */
    -webkit-text-fill-color: #F3ECE5; /* Couleur du texte */
}
#auth-form img{
    @apply h-[250px];
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
    /*@apply border-secondary-300;*/
    @apply border-white;
}
.MuiOutlinedInput-root{
    @apply text-white;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    /*@apply border-secondary-500;*/
    @apply border-white;
}
.MuiInputLabel-outlined{
    @apply text-white text-opacity-50;
}
.MuiInputLabel-outlined.Mui-focused{ /* Couleur du label qui s'affiche en haut */
    /*@apply text-secondary-500;*/
    @apply text-white;
}
.MuiInputLabel-outlined.MuiFormLabel-filled:not(.Mui-focused){
    /*@apply text-secondary-300;*/
    @apply text-white;
}

.form-btn{
    @apply btn bg-primary-600 text-white hover:bg-primary-400 border-none;
    @apply mx-auto;
    @apply rounded-md;
    @apply normal-case;
}
.auth-form-btn{
    @apply flex justify-center w-[29.5ch];
}
.switch-form-text{
    @apply self-end mt-8 opacity-50 hover:opacity-100 cursor-pointer;
}
.auth-error-msg{
    @apply mt-[10vh]  lg:mt-[8.5vh] max-w-[356px];
}

/* PAGINATION */
.MuiPaginationItem-root:not(.Mui-selected){
    @apply text-white text-opacity-20;
    @apply bg-black;
    @apply border border-white border-opacity-20;
}
.MuiPaginationItem-root:not(.Mui-selected):hover{
    @apply bg-black;
}
.MuiPaginationItem-root.Mui-selected{
    @apply text-secondary-600 text-opacity-100;
    @apply bg-secondary-300 bg-opacity-100;
    @apply border border-secondary-600 border-opacity-100;
}
.MuiPaginationItem-root.Mui-selected:hover{
    @apply bg-secondary-300 bg-opacity-90;
}
/* SOME STYLES */
.glassmorphism{
    @apply h-fit flex flex-col justify-center;
    width: fit-content;
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.horizontal-fading::after{
    content:"";
    width:150px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    pointer-events:none;
}
/* ANIMATIONS */
@keyframes gradient-opacity-0-03 {
    0% {
        opacity: 0.2;
    }
    12% {
        opacity: 0.3;
    }
    25%{
        opacity: 0.4;
    }
    37% {
        opacity: 0.5;
    }
    50%{
        opacity: 0.6;
    }
    62% {
        opacity: 0.7;
    }
    75%{
        opacity: 0.8;
    }
    87% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes glow {
    0% {
        filter: saturate(500%) blur(70px) brightness(2)  hue-rotate(0deg) ;
    }
    25% {
        filter: saturate(500%) blur(70px) brightness(1.5)  hue-rotate(40deg) ;
    }
    50% {
        filter: saturate(500%) blur(70px) brightness(2)  hue-rotate(0deg) ;
    }
    75% {
        filter: saturate(500%) blur(70px) brightness(1.5)  hue-rotate(-40deg);
    }
    100% {
        filter: saturate(500%)  blur(70px) brightness(2)  hue-rotate(0deg);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Aucun déplacement vertical */
    }
    40% {
        transform: translateY(-30px); /* Déplacement vers le haut */
    }
    60% {
        transform: translateY(-15px); /* Déplacement vers le haut moins prononcé */
    }
}
@keyframes scale {
    0%, 100% {
        transform: scale(1); /* Taille normale */
    }
    50% {
        transform: scale(1.2) translate(-10%, -10%); /* Zoom à 120% avec un décalage négatif */
    }
}
